<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monkeyzi.mboot.mapper.MbootUserRoleMapper">
	<!--角色表基础resultMap-->
	<resultMap id="ResultMap" type="mbootUserRole">
		<id property="userId" column="user_id"/>
		<result property="roleId" column="role_id"/>
		<result property="createBy" column="create_by"/>
		<result property="createTime" column="create_time"/>

	</resultMap>
    <!--角色表基础返回sql字段-->
	<sql id="Base_Column_List">
		ur.user_id,
		ur.role_id,
		ur.create_time,
		ur.create_by
	</sql>


    <delete id="deleteUserRoleByUserId">
		DELETE FROM mboot_user_role WHERE user_id = #{userId}
	</delete>

</mapper>
